provisionning/*.tfstate
provisionning/.vagrant
provisionning/variables.tf
configuration/*.retry
configuration/inventories/*.ini
configuration/id_rsa
configuration/group_vars/*.all.yml
configuration/roles/install-nDVP/files/config*.json
configuration/roles/install-ucp/files/*.lic
