[ucp_managers]
IP1 ucp_leader=1
IP2 ucp_manager=1
IP3 ucp_manager=1

[ucp_workers]
IP4 dtr_leader=1
IP5 dtr_replica=1
IP6 dtr_replica=1
IP7
IP8

[ucp:children]
ucp_managers
ucp_workers

[dtr:children]
ucp_workers

[all:vars]
RHEL_VERSION=7
RHEL_USERNAME=
RHEL_PASSWORD=
UCP_VERSION=3.0.2
DTR_VERSION=2.5.3
REPLICA_ID=13b873dfa912
DOCKER_EE_URL=https://storebits.docker.com/ee/m/sub-xxx-yyy
UCP_USERNAME="administrator"
UCP_PASSWORD="admin123"
